{% extends 'pagina_base.html' %}
{% load static %}

{% block title %}
<title>Divulgar Pet</title>
{% endblock%}

{% block css_personalizado %} 
<link rel="stylesheet" href="{% static 'css/cadastrar_pet.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper">
        <div class="box">
            <div class="header-box">
                <h3>Divulgar um pet para Adoção</h3>
                <hr>
            </div>
            <div class="body-box">
                <form action="{% url 'cadastrar_pet' %}" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    
                    {% for message in messages %}
                        <div class="alert {{message.tags}} my-3">
                            {{message}}
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="{{ form.foto.id_for_label }}" class="form-label">{{ form.foto.label }}</label>
                            <div class="custom-file-upload">
                                <div class="file-upload-wrapper">
                                    <label for="{{ form.foto.id_for_label }}" class="btn-file-upload">
                                        <i class="bi bi-upload"></i> Escolher arquivo
                                    </label>
                                    <span id="file-name">Nenhum arquivo selecionado</span>
                                </div>
                                {{ form.foto }}
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <label for="{{ form.nome.id_for_label }}" class="form-label">{{ form.nome.label }}</label>
                            {{ form.nome }}
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.especie.id_for_label }}" class="form-label">{{ form.especie.label }}</label>
                            {{ form.especie }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.raca.id_for_label }}" class="form-label">{{ form.raca.label }}</label>
                            {{ form.raca }}
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="{{ form.cidade.id_for_label }}" class="form-label">{{ form.cidade.label }}</label>
                            {{ form.cidade }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.telefone.id_for_label }}" class="form-label">{{ form.telefone.label }}</label>
                            {{ form.telefone }}
                        </div>

                        <div class="col-12 mb-4">
                            <label for="{{ form.descricao.id_for_label }}" class="form-label">{{ form.descricao.label }}</label>
                            {{ form.descricao }}
                        </div>
                        
                        <div class="col-12 mb-2">
                            <h5 style="color: #555;">Características do Pet</h5>
                        </div>
                        <div class="col-md-6 mb-3">
                             {{ form.tag1.label_tag }}
                             {{ form.tag1 }}
                        </div>
                         <div class="col-md-6 mb-3">
                             {{ form.tag2.label_tag }}
                             {{ form.tag2 }}
                        </div>
                         <div class="col-md-6 mb-3">
                             {{ form.tag3.label_tag }}
                             {{ form.tag3 }}
                        </div>
                         <div class="col-md-6 mb-3">
                             {{ form.tag4.label_tag }}
                             {{ form.tag4 }}
                        </div>
                    </div>
                    
                    <input type="submit" value="Cadastrar" class="btn-custom-accent mt-3">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('{{ form.foto.id_for_label }}').addEventListener('change', function(e){
        var fileName = e.target.files[0].name;
        document.getElementById('file-name').textContent = fileName;
    });
</script>

{% endblock %}