{% extends 'pagina_base.html' %}
{% load static %}

{% block title %}
<title>Seus Pets</title>
{% endblock %}

{% block css_personalizado%}
<link rel="stylesheet" href="{% static 'css/seus_pets.css'%}">
{% endblock %}


{% block content %}
        <div class="container-fluid rounded shadow px-2 py-2">
            <div class="row">
                <div class="col-md">
                    <div class="wrapper">
                        <div class="box width80">
                                {% for message in messages %}
                                    <div class="alert {{message.tags}}">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            <h3 class="font-vinho">Seus Pets</h3>
                            <hr>

                             <table class="tabela" cellpadding="20">
                                <tr>
                                    <th>Foto</th>
                                    <th>Nome</th>
                                    <th>Raça</th>
                                    <th>Status</th>
                                    <th>Remover</th>
                                </tr>
                                {% for pet in pets %}
                                    <tr class="tabela-linha">
                                       
                                        <td width="20%">
                                           <a href="{% url 'detalhar_pet' pet.id %}"><img width="40%" src="{{pet.foto.url}}"></a> 
                                        </td>
                                        <td>
                                            {{pet.nome}}
                                        </td>
                                        <td>
                                            {{pet.raca}}
                                            
                                        </td>
                                        <td>
                                            {{pet.status}}
                                        </td>
                                        <td>
                                            <a href="{% url 'remover_pet' pet.id %}" class="btn btn-danger">REMOVER</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            
                                
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}