{% extends 'pagina_base.html' %}
{% load static %}

{% block title %}
<title>Seus Pets</title>
{% endblock %}

{% block css_personalizado %}
<link rel="stylesheet" href="{% static 'css/seus_pets.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="content-card">
        <h2 class="card-title">Seus Pets</h2>
        <hr>

        {% for message in messages %}
            <div class="alert {{ message.tags }} mt-3">
                {{ message }}
            </div>
        {% endfor %}

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nome</th>
                        <th>Raça</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                        <tr>
                            <td>
                               <a href="{% url 'detalhar_pet' pet.id %}"><img src="{{ pet.foto.url }}" class="pet-photo"></a> 
                            </td>
                            <td>{{ pet.nome }}</td>
                            <td>{{ pet.raca }}</td>
                            <td>
                                {% if pet.status == "Para adoção" %}
                                    <span class="badge rounded-pill text-bg-primary">{{ pet.status }}</span>
                                {% else %}
                                    <span class="badge rounded-pill text-bg-success">{{ pet.status }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'remover_pet' pet.id %}" class="btn-remove">
                                    <i class="bi bi-trash-fill"></i> Remover
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center p-5">
                                <h4 class="fw-bold">Você ainda não cadastrou nenhum pet.</h4>
                                <p class="text-muted">Que tal divulgar um amiguinho para adoção?</p>
                                <a href="{% url 'cadastrar_pet' %}" class="btn btn-primary mt-2">Cadastrar primeiro pet</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}