{% if tag == 'Vacinado' %}<i class="bi bi-shield-check"></i>
{% elif tag == 'Castrado' %}<i class="bi bi-shield-plus"></i>
{% elif tag == 'Hipoalergênico' %}<i class="bi bi-flower1"></i>
{% elif tag == 'Dócil' or tag == 'Manso' %}<i class="bi bi-emoji-smile"></i>
{% elif tag == 'Carinhoso' %}<i class="bi bi-heart-fill"></i>
{% elif tag == 'Protetor' %}<i class="bi bi-shield-lock"></i>
{% elif tag == 'Agitado' %}<i class="bi bi-lightning-fill"></i>
{% elif tag == 'Adestrado' %}<i class="bi bi-award-fill"></i>
{% elif tag == 'Resgatado' %}<i class="bi bi-house-heart-fill"></i>
{% elif tag == 'Especial' %}<i class="bi bi-star-fill"></i>
{% elif tag == 'Bravo' %}<i class="bi bi-emoji-angry"></i>
{% else %}<i class="bi bi-tag-fill"></i>
{% endif %}